<section id="services" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="section-header">
                    <h2 class="section-title">Our Practice Areas</h2>
                    <p class="section-description">Comprehensive legal solutions across diverse practice areas, delivered by our expert team of lawyers.</p>
                </div>
            </div>
        </div>

        <div class="row g-4">
            {% for service in site.data.services %}
            <div class="col-lg-4 col-md-6">
                <div class="service-card h-100" data-aos="fade-up" data-aos-delay="{{ forloop.index | times: 100 }}">
                    <div class="service-icon">
                        <i class="{{ service.icon }}"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title">{{ service.title }}</h4>
                        <p class="service-description">{{ service.description }}</p>
                    </div>
                    <div class="service-footer">
                        <a href="#contact" class="service-link">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>